/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bad19c;
    color: #333;
}

/* Navigation Bar */
nav {
    background: #222;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(192, 177, 132);
    text-decoration: none;
    font-weight: bold;
}

/* Header */
header {
    text-align: center;
    padding: 50px;
    background: #444;
    color: rgb(39, 153, 168);
}

/* Button */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #48b882;
    color: rgb(128, 21, 21);
    text-decoration: none;
    border-radius: 5px;
}

/* Sections */
section {
    padding: 20px;
    margin: 20px;
    background: rgb(184, 132, 157);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
